name: My First Workflow
on: workflow_dispatch
jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: first step
        run: echo "this is the first step"
      - name: second step
        run: echo "this is the second step"
